*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
*sqlite3
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
./src/backend/venv/
logs
src/node_modules
./src/backend/media/
./src/backend/static/
stats
Dockerfile

